<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Ryans Albums</title>
</head>

<body>

    <section class="hero is-small is-success mb-4">
        <div class="hero-body">
            <h1 class="title is-1">Ryan's Albums</h1>
            <p class="subtitle is-4">A music collection displayed with Django!</p>
        </div>
    </section>

    {% block content %}
    {% endblock content %}

    <!-- <div class="container"> -->
    <!-- <div class="columns"> -->
    <!-- </div> -->
    <!-- </div> -->

</body>

</html>